.App {
  text-align: center;
 
  background-image: url("https://wallpaperplay.com/walls/full/1/c/a/221366.jpg");
height: 100vh;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
overflow: scroll;

}

main {
  padding: 50px 0;
}

footer {
  background-color: #3a4f7e;
  color: white;
  font-size: 16px;
  padding:15px;
  bottom: 0;
  width: 100%;
  clear: both;
  
  
}

nav {
  background-color: #3a4f7e;
  padding: 2px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 25px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

nav a:hover {
  color: hotpink;
}

.red {
  color: red;
}

#profilepicture{
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: auto;
}

#eventname{
  text-align: left;
  padding-left: 40px;
}


